.sohial_buttons {
    display: flex;
flex-direction: row;
justify-content: space-between;
padding: 16px 32px;
gap: 10px;

width: 88px;
height: 56px;

background: rgba(49, 48, 55, 0.1);
border-radius: 4px;
}