 .login_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 624px;
   height: 472px;
    padding: 40px;
    border-radius: 16px;
    background-color: #FFFFFF


 }
 .sigIn_input {
   width: 544px;
   background: #FFFFFF;
border: 1px solid rgba(49, 48, 55, 0.1);
border-radius: 4px;
 }
 .signIn_button{
   display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px;


width: 544px;
height: 56px;

background: #6C1BDB;
border-radius: 4px;
color: #FFFFFF;
 }